{% extends 'layout.html.twig' %}

{% block content %}

    <div class="body-home">
        <div class="container d-flex justify-content-center">
            <img src="assets/images/logo-pares.png" alt="pas d images">
            <a href="sessionStart">session start</a>
            <a href="sessionDestroy">session destroy</a>
        </div>

    </div>
{% endblock %}
