<div>
    <img class="img-fluid interaction laser-position" src="/assets/images/laser.png" id="laser-attack">
</div>

<div>
    <img class="img-fluid interaction rocket-position" src="/assets/images/missil.png" id="missile-attack">
</div>

<div>
    <img class="img-fluid interaction music-position" src="/assets/images/music.png" id="music-attack">
</div>

<div>
    <img class="img-fluid interaction asteroid-position" src="/assets/images/asteroid.png" id="asteroid-attack">
</div>

<div>
    <img class="img-fluid interaction magickiss-position" src="/assets/images/magickiss.png" id="magiskiss-attack">
</div>

<div>
    <img class="img-fluid interaction  rock-position" src="/assets/images/rock.png" id="rock-attack">
</div>

<div>
    <img class="img-fluid interaction tornado-position" src="/assets/images/tornado.png" id="tornado-attack">
</div>

<div>
    <img class="img-fluid interaction mckiss-position" src="/assets/images/emckiss.png" id="mckiss-attack">
</div>