
<div class="row">
    <div class="ginny  animate__shakeY col-3" id="ginny">
        <div class="progress life-ginny">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ hpCharacters.ginny }}%"
                 aria-valuenow="{{ hpCharacters.ginny }}" aria-valuemin="0" aria-valuemax="100">
                {{ hpCharacters.ginny }}/{{ session.maxlife_ginny }}</div>
        </div>
        <img class="img-fluid ginny-img" src="/assets/images/ROBOT3.png">
    </div>
</div>

