<div class="percy  animate__headShake col-3 " id="percy">
    <div class="progress life-percy">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ hpCharacters.percy }}%"
             aria-valuenow="{{ hpCharacters.percy }}" aria-valuemin="0"
             aria-valuemax="100">{{ hpCharacters.percy }}/{{ session.maxlife_percy }}</div>
    </div>
    <img class="img-fluid" src="/assets/images/ROBOT2.png">
</div>